{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'login.css' %}">
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>



{#{% load crispy_forms_tags %}#}

<!--Login-->
{#div class="container py-5">#}
{#	<h1>Register</h1>#}
{#	<form method="POST">#}
{#		{% csrf_token %}#}
{#		{{ register_form }}#}
{#		<button class="btn btn-primary" type="submit">Register</button>#}
{#	</form>#}
{#	<p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>#}
{#</div>#}



<div class="form-box register">
    <h2>Registration</h2>
    <form method="post" action="#">
        {% csrf_token %}
      <div class="input-box">
        <span class="icon">
          <ion-icon name="person-circle-outline"></ion-icon>
        </span>
        <input type="text" name="username" maxlength="150" autofocus="" required="" id="id_username">
        <label for="id_username">Username:</label>
      </div>
      <div class="input-box">
        <span class="icon">
          <ion-icon name="mail"></ion-icon>
        </span>
        <input type="email" name="email" maxlength="254" required="" id="id_email">
        <label for="id_email">Email:</label>
      </div>
      <div class="input-box">
        <span class="icon">
          <ion-icon name="lock-closed"></ion-icon>
        </span>
        <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1">
        <label for="id_password1">Password:</label>
      </div>
      <div class="input-box">
        <span class="icon">
          <ion-icon name="lock-closed"></ion-icon>
        </span>
        <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2">
        <label for="id_password2">Password confirmation:</label>
      </div>
      <div class="remember-forgot">
        <label><input type="checkbox">
        I agree to the terms & conditions </label>
      </div>
      <button type="submit" class="btn">Register</button>
      <div class="login-register">
        <p>Already have an account?
        <a href="{%url 'login' %}">Sign in</a>
        </p>
      </div>
    </form>
  </div>
</div>
</div>

{% endblock %}

{#{% extends "base.html" %}#}
{#{% block content %}#}
{##}
{#<h1>Register</h1>#}
{##}
{#<form method="post">#}
{#    {% csrf_token %}#}
{#    {{form.as_p}}#}
{#    <input type="submit" class="button" value="Create account" />#}
{#</form>#}
{##}
{#<p>Already have an account? <a href="{%url 'login' %}">Sign in</a></p>#}
{##}
{#{% endblock %}#}